@font-face {
  font-family: 'abster';
  src: url(/font/abster-webfont.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh; /* 컨테이너의 최소 높이 설정 */
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/image/workout.jpg);
    background-size: cover; /* 이미지가 컨테이너에 꽉 차도록 설정 */
    background-repeat: repeat; /* 이미지가 반복되도록 설정 */
    display: flex;
    flex-direction: column; /* 컨테이너 안 요소들이 세로 방향으로 배치되도록 설정 */
}
.container .header{
    width: 80%;
    height: 80px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a{
    text-decoration: none;
    color:white;
    font-family: abster;
}

.container .nav ul li{
    display: inline-block;
    margin: 0 10px;

}

.container .nav ul li a{
    text-decoration: none;
    color:white;
}

.container .nav ul li a:hover{
    color:#1fdfdf;
}

.container .hero{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%; /* 왼쪽 여백을 50%로 설정하여 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬을 위해 50%만큼 좌측으로 이동 */
    color: white;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 14px; /* 글자 크기를 조정 */
    text-align: center; /* 가운데 정렬 설정 */
    z-index: 9999; /* 다른 요소 위에 보이도록 z-index 설정 */
}

.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

#left-side, #right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#right-side {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}

.map_wrap {
    position: absolute;
    top: 230px;
    right: 80px;
    width: calc(60% - 40px);
    height: calc(70% - 40px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#menu_wrap {
    position: fixed;
    top: 230px;
    left: 80px;
    width: calc(30%);
    height: calc(63.3% - 40px);
    padding: 20px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

.weather-info {
    width: 50%;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto 0;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.search-bar {
    width: 90%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 15px auto 0;
}

.search-bar form {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
    transition: background-color 0.3s;
}

#placesList .item:hover {
    background-color: #f9f9f9;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #007BFF;
    text-decoration: none;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
    border-color: #007BFF;
}
