<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}" type="text/css">
</head>
<body>
<div class="container">
    <div th:replace="navbar :: navbar"></div>
    <div class="signup-form">
        <h2>SIGN UP</h2>
        <form method="post" th:action="@{/signup}">
            <div class="form-group">
                <label for="username">USERNAME :</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">E-MAIL :</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD :</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">SIGN UP</button>
        </form>
    </div>
</div>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
