<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoccerCrew</title>
  <link rel="stylesheet" th:href="@{/css/soccer_crew.css}">
</head>
<body>
<div class="container">
  <div th:replace="navbar :: navbar"></div>
  <div class="content">
    <h1>축구 크루원 모집</h1>

    <!-- 크루원 모집 글 목록 -->
    <div class="post-list">
      <h2>크루원 모집 글 목록</h2>
      <div class="post-item" th:each="post : ${posts}">
        <h3 class="post-title" th:text="${post.title}">제목</h3>
        <p class="post-description" th:text="${post.description}">설명</p>
        <p class="post-members">현재 인원: <span th:text="${post.crewMembers.size()}"></span> / <span th:text="${post.maxMembers}"></span></p>
        <p th:if="${post.closed}" class="post-status">모집 완료</p>
        <form th:action="@{/crew/soccer/join/{id}(id=${post.id})}" method="post" th:if="${!post.closed}">
          <button type="submit" class="join-button">크루 참여</button>
        </form>
        <form th:action="@{/crew/soccer/close/{id}(id=${post.id})}" method="post" th:if="${!post.closed} and ${userEmail == post.createdBy}">
          <button type="submit" class="close-button">모집 완료</button>
        </form>
        <div th:if="${userEmail == post.createdBy}" class="members-list">
          <h4>참여한 유저들:</h4>
          <ul>
            <li th:each="member : ${post.crewMembers}" th:text="${member.email}">이메일</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 크루원 모집 글 작성 버튼 -->
    <div class="create-post-button">
      <a th:href="@{/crew/soccer/new}">크루 만들기</a>
    </div>
  </div>
  <footer class="footer">
    <p>
      Copyright © 2024 All about Sports. All Rights Reserved. Designed & Developed by
      <span id="author-link" style="cursor: pointer; color: white; text-decoration: underline;" onclick="openInstagram()">ChangHwan Lee</span>
    </p>
  </footer>
</div>
<script th:src="@{/js/soccer_crew.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
