<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorkOut</title>
  <link rel="stylesheet" th:href="@{/css/workoutstyle.css}">
</head>
<body>
<div class="container">
  <div th:replace="navbar :: navbar"></div>
  <div class="categories">
    <a th:id="workoutcenter" th:href="@{/workout_center}" class="category-box"
       onmouseover="changeCategory('workoutcenter', '헬스장')"
       onmouseout="resetCategory('workoutcenter', 'WORKOUT CENTER')">
      <span>WORKOUT <br>CENTER</span>
    </a>
    <a th:id="workoutmatching"  th:href="@{/matching/workout}" class="category-box"
       onmouseover="changeCategory('workoutmatching', '파트너십 운동')"
       onmouseout="resetCategory('workoutmatching', 'PARTNERSHIP MOVEMENT')">
      <span>PARTNERSHIP <br>MOVEMENT</span>
    </a>
    <a th:id="workoutcrew"  th:href="@{/crew/workout}" class="category-box"
       onmouseover="changeCategory('workoutcrew', '헬스 모임')"
       onmouseout="resetCategory('workoutcrew', 'WORKOUT CREW')">
      <span>WORKOUT <br>CREW</span>
    </a>
    <a th:id="community"  th:href="@{/posts}" class="category-box"
       onmouseover="changeCategory('community', '커뮤니티')"xx
       onmouseout="resetCategory('community', 'COMMUNITY')">
      <span>COMMUNITY</span>
    </a>
  </div>
  <footer class="footer">
    <p>
      Copyright © 2024 All about Sports. All Rights Reserved. Designed & Developed by
      <span id="author-link" style="cursor: pointer; color: white; text-decoration: underline;" onclick="openInstagram()">ChangHwan Lee</span>
    </p>
  </footer>
</div>
<script th:src="@{/js/workout.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
